<a href="https://colab.research.google.com/github/imran8583/EdYoda-Programme/blob/main/EdYoda_Assesment_4_WayWithMaps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Find the way with Maps:

# Write a Python program to triple all numbers of a given list of integers.
# Use Python map.

In [ ]:
# sample_list: [1, 2, 3, 4, 5, 6, 7]

# Triple of list numbers:
# [3, 6, 9, 12, 15, 18, 21]

In [ ]:
# With map and lambda function:

sample_list = [1, 2, 3, 4, 5, 6, 7]

list(map(lambda x: x * 3, sample_list))

[3, 6, 9, 12, 15, 18, 21]

In [ ]:
# With map and normal function:

sample_list = [1, 2, 3, 4, 5, 6, 7]

def triple_of_list(num):
    return num * 3

tuple(map(triple_of_list, sample_list))

(3, 6, 9, 12, 15, 18, 21)