<a href="https://colab.research.google.com/github/imran8583/EdYoda-Programme/blob/main/EdYoda_Assesment_4_FindTheSquares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Find the Squares from the given List:

# Write a Python program to square the elements of a list using map() function.
# Sample List: [4, 5, 2, 9]

# Square the elements of the list:
# [16, 25, 4, 81]

In [ ]:
# ALGORITHM USING MAP:

# STEP 1:
        # Map Syntax ---> map(function, iterables)
# STEP 2:
        # Write a function that will take user input list & convert list values into int 
# STEP 3: 
        # Write a function that will return the square of each list items
# FINAL STEP:
        # Using map, add the function and user input list and enclose in a container and print O/P

In [9]:
# Using maps, user input and lambda function:

input_list = int_list()

output = list(map(lambda x: x**2, input_list))

print(output)

Enter elements of a list separated by commas: 4,5,2,9,7
[16, 25, 4, 81, 49]

In [6]:
# With using maps and normal function

input_list = [2,4,6,8]

def square(n):
    return n * n

result = list(map(square, input_list))

print(result)

[4, 16, 36, 64]

In [8]:
def int_list():

    input_lst = input('Enter elements of a list separated by commas: ')

    user_list = input_lst.split(",")

    z = [ int(i) for i in user_list ]

    return z