<a href="https://colab.research.google.com/github/imran8583/EdYoda-Programme/blob/main/EdYoda_Assesment_4_WayWithMaps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Find the way with Maps:

# Write a Python program to triple all numbers of a given list of integers.
# Use Python map.

In [ ]:
# sample_list: [1, 2, 3, 4, 5, 6, 7]

# Triple of list numbers:
# [3, 6, 9, 12, 15, 18, 21]

In [33]:
# With map and lambda function:

sample_list = [1, 2, 3, 4, 5, 6, 7]

result = list(map(lambda x: x * 3, sample_list))

print(result)

[3, 6, 9, 12, 15, 18, 21]

In [34]:
# With map and normal function:

sample_list = [3, 5, 7, 8, 9, 6, 2]

def triple_of_list(num):
    return (num + num + num)

output = list(map(triple_of_list, sample_list))

print(output)

[9, 15, 21, 24, 27, 18, 6]

In [41]:
# With map and normal function:

# User input function (below cell)
sample_list = num_list()

result = map(lambda x: x * 3, sample_list)

print(list(result))

Enter elements of a list separated by commas: 1,2,3,4,5,6,7
[3, 6, 9, 12, 15, 18, 21]

In [37]:
# function to take input list from user & convert list values into intergers.

def num_list():

    input_lst = input('Enter elements of a list separated by commas: ')
    user_list = input_lst.split(",")

    k = [ int(i) for i in user_list ]

    return k