<a href="https://colab.research.google.com/github/imran8583/EdYoda-Programme/blob/main/EdYoda_Assesment_4_FindTheSquares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Find the Squares from the given List:

# Write a Python program to square the elements of a list using map() function.
# Sample List: [4, 5, 2, 9]

# Square the elements of the list:
# [16, 25, 4, 81]

In [ ]:
# ALGORITHM USING MAP:

# STEP 1:
        # Map Syntax ---> map(function, iterables)
# STEP 2: 
        # Write a function that will return the square of each list items
# FINAL STEP:
        # Using map, add the function and the input list and enclose in a list

In [11]:
# Using maps and lambda function:

input_list = [4, 5, 2, 9]

list(map(lambda x: x**2, input_list))

[16, 25, 4, 81]

In [10]:
# With using maps and normal function

input_list = [4, 5, 2, 9]

def square(n):
    return n * n

list(map(square, input_list))

[16, 25, 4, 81]

In [8]:
# Using list comprehension:

[ i ** 2 for i in input_list ]

[16, 25, 4, 81]